@import "tailwindcss";

/* きほんここは必要ありません */
/* :root {
  これスマホの設定に合わせてブラック／ホワイトを変えてくれるやつらしいすごいね
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  これがよくわかんないって言われるのはvscodeが最新バージョンを知らないだけみたい
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-pulse-once {
    animation: pulse-once 0.5s ease-out forwards;
  }
}

@keyframes pulse-once {
  0% {
    opacity: 0;
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(6,182,212,0);
  }
  50% {
    opacity: 1;
    tranceform:scale(1.02);
    box-shadow:0 0 20px rgba(6,182,212,0.5);
  } 
  100% {
    tranceform:scale(1);
    box-shadow:0 0 0 rgba(6,182,212,0);
  } 
}